<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/public/cafes.css">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>koffee</title>
</head>
<body>
 <div class="container">
	<header class="jumbotron">
		<h1> This is the header <h1> 
	</header>