<%include partials/header.ejs%>
<h1>list of cafes and wifi.</h1>
<% for(var i = 0; i < cafes.length; i++){%>

<div>
	<h2><%=cafes[i].name%></h2>
	<img src="<%=cafes[i].image%>">
</div>

<%}%>
<%include partials/footer.ejs%>