<%include partials/header.ejs%>

	<h1> task_ <h1> 

	<form action="/" method="post">
  		<input type="text" name="location" placeholder="enter location">
  		<button>5u8m1t</button>
	</form>

<img src="<%=location%>">


<%include partials/footer.ejs%>
