<%include partials/header.ejs%>

<h1>create a form</h1>

<!--  <form action="/cafes" method="POST">
   <input type="text" name="name" placeholder="cafe name">
  <input type="text" name="image" placeholder="image">
  <button>submit!</button>
</form>
 -->

<%include partials/footer.ejs%>