
body, html {
	font-family: Anton;
	background-color: #80edd1;
}
#chaser {
	font-size: 100px;
}
h2 {
	text-align: right; 
	font-size: 22px; 
	letter-spacing: .04em;
	background-color: white;
}
p {
	float: right;
	letter-spacing: .03em;
	text-align: right;
	font-size: 16px;
}
.results {
	margin-top: 25px;
	background-color: white;
	padding: 20px;
}
.container-imgs {
	height: 250px;
	width: 240px;
	overflow: hidden;
}
.container-imgs > img {
	overflow: hidden;
	border-radius: 5px;
	max-width: 100%;
}

#map {
	height: 300px;
}
