.row-display-flex {
	height: 200px;
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}
.thumbnail {
	height: 100%;
	flex-direction: column;
	display: flex;
	justify-content: center;
}
