body {
	background-color: black;
	background-image: url("/landingpic.jpg");
	background-size: cover;
}
h1 {
	font-family: 'Sirin Stencil', cursive;
	text-align: center;
	font-size: 180px;
	color: #80edd1;
	}

form {
	margin-top: 0px;
	text-align: center; 
	padding-top: 4%;
}

input[type=text] {
	outline: none;
	border: none; 
	padding-left: 20px; 
	font-size: 24px;
	border-radius: 10px;
	width: 800px;
	height: 45px;
}
button {
	border: none;
	display: block;
	width: 150px;
	background-color: #84766b;
	margin-top: 15px;
	color: white;
	font-size: 24px;
	margin-left: 48%;

}
.landing-header {

	border-radius: 4px;
	text-align: center; 
	width: 47%;
	margin: 0 auto;
	height: 200px;
}

::-webkit-input-placeholder {
	color: pink;
	font-size: 24px;
}